#first_header{
    font-family: "Lohit Tamil Classical",cursive, sans-serif;
}
h3{
    color: purple;
}
.team{
    color:blue;
    font_size: bold;
}
#first_paragraph{
    color: crimson;
    font-size: small;
}